* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    line-height: 1.5;
}
